langchain[openai]
langchain[google-genai]
fastapi==0.115.14
uvicorn==0.35.0
pypdf==5.7.0
langchain-community==0.3.27
langchain-text-splitters 
langgraph
beautifulsoup4
faiss-cpu 
sentence-transformers 
tiktoken
requests
serpapi
pytest